.App {
  font-family: sans-serif;
  text-align: center;
}

#emo-input {
  padding: 1rem;
  width: 50%;
  margin: auto;
  font-size: large;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}

.flex-items {
  justify-content: center;
  font-size: xx-large;
  padding: 0.5rem;
  cursor: pointer;
}
